.teacher_group{
    font-size: 25px;
    font-weight: 500;
}
.admin_table{
    margin: 0 auto;
}
.control_buttons a{
    font-weight: normal;
    margin: 20px;
}
.container .table .body_table{
    height: 500px;
}
.btn{
    font-size: 25px;
    margin: 20px;
}
.btn:hover{
    color: #e15353;
}
.two-tables{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.two-tables *{
    width: 100%;
}
.two-tables .table{
    padding: 10px;
}
.required:after{
    content: '*';
    color: #e15353;
}
.container.XXL{
    max-width: 1600px;
}

.timetable_block{
    width: 225px;
    border-left: 1px solid #4c4c4c;
    margin: 5px 0;
    display: block;
    padding: 15px;
    /*flex-direction: column;*/
}
.timetable_block:last-child{
    border-right: 1px solid #4c4c4c;
}
.body_table .row_table .timetable_block {
    width: 225px;
}
.head_table .timetable_block {
    max-width: 225px;
}
.cabinet{
    color: #bbbbbb;
    background-color: #4c4c4c;
    border-radius: 10px;
    padding: 0 5px;
}
.arrow{
    font-family: "Oswald", sans-serif; /*пытался*/
}