.teacher_group{
    font-size: 25px;
    font-weight: 500;
}
.admin_table{
    margin: 0 auto;
}
.control_buttons a{
    font-weight: normal;
    margin: 20px;
}
.container .table .body_table{
    height: 500px;
}